<div class="container-fluid">
  <h1>
    Enrollment Form
  </h1>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)">

    {{ userForm.value | json }}
    <hr />
    {{ userModel  | json}}
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" required #name="ngModel" class="form-control" name="userName" [ngModel]="userModel.name">
     </div>

    {{name.untouched}}

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone">
    </div>

    <div class="form-group">
      <select class="custom-select"  name="topic" [(ngModel)]="userModel.topic">
        <option Selected>I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>

    </div>

    <div class="mb-3">
      <label >Time preference</label>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="userModel.timePreference" ype="radio" name="time preference" value="morning">
        <label class="form-check-label" >Morning (9AM-12PM) </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="time preference" value="evening">
        <label class="form-check-label" >Evening (5PM-8PM) </label>
      </div>
    </div>
    <div class="form-check mb-3" >
      <input class="form-check-input" type="subscribe" [(ngMpdel)]="userModel.submit">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>
    <button class="btn btn-primary" type="submit">
        Submit Form
    </button>
  </form>
</div>